/* color variables */

$colorone: #bf1e2e;
$colortwo: #cf6733;
$colorthree: #333333;

/* end color variables */

header {
	background: url('../img/home.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	#home_logo {
		margin-top: -250px;
		
		img {
			height: 350px;
		}
		
		#home_page_nav {
			ul {
				li {
					a:link,
					a:visited {
						background: $colorone;
					}
				}
			}
		}
	}
	
	#nav_bar {
		&.bottom_navigation {
			background: rgba(0,0,0,.25);
			
			&.scroll-fix {
				background: #ffffff;
			}
		}
	}
}

#parallax {
	background: url('../img/parallax.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* secondary page header images */

.page-id-205 header#header_page {
	background: url('../img/header_page_6.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.page-id-85 header#header_page {
	background: url('../img/menu.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.page-id-219 header#header_page {
	background: url('../img/testimonials.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.page-id-221 header#header_page {
	background: url('../img/header_page.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.page-id-234 header#header_page {
	background: url('../img/contact.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.blog header#header_page,
.single header#header_page {
	background: url('../img/latestnews.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

/* mobile menu & search button */

a#searchopen:link, a#searchopen:visited, a#mobileopen:link, a#mobileopen:visited {
	background: $colorone;
}

#search,
#mobile_nav {
	background: rgba($colorone, .95);
}

/* appointment bar */

#attention_bar {
	background: $colorone;
	
	.attention_bar_top,
	.attention_bar_bottom {
		ul {
			li {
				a:link,
				a:visited {
					color: $colorone;
				}
			}
		}
	}
}

/* home logo */


/* content */

.content,
.sidebar {
	h1,h3 {
		color: $colorone;
	}
	
	h1 {
		text-align: center;
	}
	
	hr.divider {
		background: $colorone;
		margin: 30px auto;
	}
	
	a:link,
	a:visited {
		color: $colorone;
	}
	
	a.button:link,
	a.button:visited {
		background: $colorone;
	}
	
	form {
		input[type="submit"] {
			background: $colorone;
			border: none;
		}
		
		input[type="text"],
		input[type="email"] {
			margin-bottom: 20px;
		}
		
		div.hide {
			display: none;
		}
		
		&.wufoo {
			label.desc {
				color: $colorone;
				font-size: 18px;
			}
		}
	}
	
	blockquote {
		p {
			background: transparent;
			border: 2px solid $colorone;
			border-radius: 5px;
		}
	}
}

/* blog updates */

.blog_home {
	article.blog_preview {
		
		span.edit {
			a:link,
			a:visited {
				color: $colorone;
			}
		}
		
		span.author {
			a:link,
			a:visited {
				color: $colorone;
			}
		}
	}
}

.blog_sidebar {
	#blog_sidebar_1,
	#blog_sidebar_2 {
		ul {
			li {
				a:link,
				a:visited {
					color: $colorone;
				}
			}
		}
	}
}
	
article.blog_entry {
	.meta {
		span.date,
		span.category,
		span.author {
			a:link,a:visited {
				color: $colorone;
			}
		}
	}
}


/* Services (Home) */

.services_home {
	background: $colortwo;
	padding: 100px 0px;
	
	.services_home_item {
		
		img {
			float: left;
			height: auto;
			margin: 0px 20px 10px 0px;
			width: 100px;
		}
		
		h3 {
			color: #ffffff;
		}
		
		p {
			color: #ffffff;
		}
	}
}

/* edit button */

.edit_button {
	a:link,
	a:visited {
		background: $colorone;
	}
}

/* footer */

footer {
	#logo_footer {
		img {
			height: 140px;
		}
	}
}


/* responsive media queries */

@media (min-width: 980px) and (max-width: 1220px) {

	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	header {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;

		#home_logo {
			margin-top: -200px;
			
			img {
				height: 250px;
			}
		}
	}
	
	.page-id-205 header#header_page {
		background: url('../img/header_page_6_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-85 header#header_page {
		background: url('../img/menu_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-219 header#header_page {
		background: url('../img/testimonials_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-221 header#header_page {
		background: url('../img/header_page_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-234 header#header_page {
		background: url('../img/contact_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.blog header#header_page,
	.single header#header_page {
		background: url('../img/latestnews_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		
		&#header_home_mobile {
			#home_logo {
				img {
					height: 200px;
				}
			}
		}
	}
	
	.page-id-205 header#header_page {
		background: url('../img/header_page_6_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-85 header#header_page {
		background: url('../img/menu_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-219 header#header_page {
		background: url('../img/testimonials_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-221 header#header_page {
		background: url('../img/header_page_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-234 header#header_page {
		background: url('../img/contact_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.blog header#header_page,
	.single header#header_page {
		background: url('../img/latestnews_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		
		&#header_home_mobile {
			#home_logo {
				img {
					height: 200px;
				}
			}
		}
	}
	
	.page-id-205 header#header_page {
		background: url('../img/header_page_6_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-85 header#header_page {
		background: url('../img/menu_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-219 header#header_page {
		background: url('../img/testimonials_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-221 header#header_page {
		background: url('../img/header_page_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.page-id-234 header#header_page {
		background: url('../img/contact_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	.blog header#header_page,
	.single header#header_page {
		background: url('../img/latestnews_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
}